[run]
branch = true
concurrency = thread
omit = tests/*
source = fuscan

[report]
fail_under = 90
exclude_lines =
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    pragma: no cover
    raise NotImplementedError
show_missing = true
